<h1><%= @users.count %> users registered</h1>
<%= link_to "Add User", users_new_path, :class => 'btn btn-primary'%><hr> 

<% if flash[:errors] %>
  <p class="display_error"> <%= flash[:errors] %></p>
<% end %>

  
<table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user|%>
      <tr>
        <% if @current_user.email == user.email%>
          <td><%= user.email %> <strong> (Current User)</strong></td>
        <% else %>
          <td><%= user.email %></td>
        <% end %>
        <td>
          <%= link_to "Delete User", user_delete_path(user.id), data:{ method: :delete, confirm: "Are you sure you want to delete #{user.email}'s profile?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
