<% if notice%>
<p class="alert alert-success"><%= notice%></p>
<% end %>



<h1><%= t('.title_html') %></h1>
<h3><%= @time_now %></h3>

<div id="paginator">
	<%= paginate @products, remote: true %>
</div>

<div id="pages-products">
  <%= render 'store/product' %>
</div>
